
<%- include('partials/header', { title: title, isLoggedIn: isLoggedIn }) %>

<!-- Hero block whith information about out platform and etc.-->
  <div class="container py-5">
    <div class="row p-4 pb-0 pe-lg-0 pt-lg-5 align-items-center rounded-3 border shadow-lg">
      
      <div class="col-7 col-sm-12 px-lg-5 align-items-center ">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Launch Your Blog in Minutes – Empower Your Voice with Our All-in-One Blogging Platform!</h1>
        <p class="lead">Are you a blogger looking to create your own space online without the hassle of setting up and managing a website? Our platform is designed just for you! With our user-friendly interface, you can launch a professional blog in minutes – no coding skills required. Customize your blog with beautiful themes, powerful tools, and seamless integration with social media. Focus on what you do best: creating amazing content. We take care of the rest. Join thousands of bloggers who trust us to amplify their voice and grow their audience. Start your blogging journey with us today!</p>
      </div>

      <div class="col-4 col-sm-12  px-lg-5 overflow-hidden-left">
        <img  src="../img/Subject.png" alt="">
      </div>
      
      <div class="col-7 col-sm-12 px-lg-5 align-items-center ">
        <h1 class="display-4 fw-bold lh-1 text-body-emphasis">Just make first step to Your Blog!</h1>
      </div>
    </div>
  </div>


<%- include('partials/footer') %>

  